/* css/app.css */
th {
  max-width: 100px;
}
.paginator {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  max-height: 37.07px;
}
.per_page {
  width: 300px;
}
.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}
.seach-group {
  width: auto !important;
}
.clickable:hover {
  background-color: yellow;
}

.desc {
  background-color: red;
}

.asc {
  background-color: green;
}
